
<%= @factory.category.try(:title) %> ->

<h1><%= @factory.title %> <small><%= @factory.subtitle %></small></h1>



<hr />

<p><%= @factory.description %></p>

<p><%= @factory.products %></p>

<% { city: "Город", address: "Адрес", phone: "Телефон",  email: "Email" }.each do |attr, title| %>
  <% next if @factory[attr].blank? %>

  <p><%= title %>: <%= @factory[attr] %></p>
<% end %>

<% if @factory.site.present? %>
  <p>Официальный сайт: <%= link_to  @factory.site, @factory.site, :title => "Официальный сайт #{@factory.title }", :target => "_blank" %></p>
<% end %>

