<ol class="breadcrumb">
  <li><a href="/">Каталог заводов России</a></li>
  <% if @factory.category.present? %>
    <li><%= link_to @factory.category.title, @factory.category %></li>
  <% end %>
  <li class="active"><%= @factory.title  %></li>
</ol>

<h1><%= @factory.title %> <small><%= @factory.subtitle %></small></h1>



<hr />

<%= simple_format @factory.description %>

<h2>Продукция</h2>
<%= simple_format @factory.products %>

<h2>Контакты</h2>
<% { city: "Город", address: "Адрес", phone: "Телефон",  email: "Email" }.each do |attr, title| %>
  <% next if @factory[attr].blank? %>

  <p><%= title %>: <%= @factory[attr] %></p>
<% end %>

<% if @factory.site.present? %>
       <p>Официальный сайт: <%= factory_site_link @factory %>
<% end %>

