<!DOCTYPE html>
<html lang="ru">
<head>
  <title>FactoryCatalog</title>
  <%= stylesheet_link_tag '//yastatic.net/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "shared/google_tag_manager" %>

<div class="container ns-<%= params[:controller] %> ns-<%= params[:controller] %>-<%= params[:action] %>">
  <%= yield %>
</div>

</body>
</html>
